{% extends '../base.html' %}
{% block content %}
<section class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>{{category}}</h1>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li>{{category}}</li>
            </ul>
        </div>
    </div>
</section>

<section class="products-area products-collections-area ptb-70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="woocommerce-widget-area">


                    <div class="woocommerce-widget best-seller-widget">
                        <h3 class="woocommerce-widget-title">Best Sellers</h3>
                        {% for product in top_selling %}
                        <article class="item">
                            <a href="{% url 'product' product.slug %}" class="thumb">
                                <span class="fullimage cover " style="background-image: url({{product.main_image.url}})"
                                    role="img"></span>
                            </a>
                            <div class="info">
                                <h4 class="title usmall"><a href="#">{{ product }}</a></h4>
                                {% if product.sale_price %}
                                <span>{{product.sale_price}}</span>
                                {% else %}
                                <span>{{product.price}}</span>
                                {% endif %}

                            </div>
                            <div class="clear"></div>
                        </article>
                        {% endfor %}
                    </div>
                    <div class="woocommerce-widget best-seller-widget">
                        <h3 class="woocommerce-widget-title">New Arrivals </h3>
                        {% for product in recent %}
                        <article class="item">
                            <a href="{% url 'product' product.slug %}" class="thumb">
                                <span class="fullimage cover " style="background-image: url({{product.main_image.url}})"
                                    role="img"></span>
                            </a>
                            <div class="info">
                                <h4 class="title usmall"><a href="#">{{ product }}</a></h4>
                                {% if product.sale_price %}
                                <span>{{product.sale_price}}</span>
                                {% else %}
                                <span>{{product.price}}</span>
                                {% endif %}

                            </div>
                            <div class="clear"></div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="drodo-grid-sorting row align-items-center">
                    <div class="col-lg-6 col-md-6 result-count">
                        <!-- <p>We found <span class="count">99</span> products available for you</p> -->
                        <span class="sub-title d-lg-none"><a href="#" data-toggle="modal"
                                data-target="#productsFilterModal"><i class='bx bx-filter-alt'></i>
                                Filter</a></span>
                    </div>

                </div>
                <div class="row">
                    {% for product in page_obj %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-products-box">
                            <div class="image">
                                <a href="{% url 'product' product.slug  %}" class="d-block"><img
                                        src="{{ product.main_image.url }}" alt="image"></a>
                                {% if product.sale_price %}
                                <div class="sale">Sale</div>
                                {% endif %}
                                <div class="buttons-list">
                                    <ul>
                                        <li>
                                            <div class="cart-btn">
                                                <a href="#">
                                                    <i class='bx bxs-cart-add'></i>
                                                    <span class="tooltip-label">Add to Cart</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="wishlist-btn">
                                                <a href="#">
                                                    <i class='bx bx-heart'></i>
                                                    <span class="tooltip-label">Add to Wishlist</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="quick-view-btn">
                                                <a href="#" data-toggle="modal" data-target="#productsQuickView">
                                                    <i class='bx bx-search-alt'></i>
                                                    <span class="tooltip-label">Quick View</span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content">
                                <h3><a href="{% url 'product' product.slug %}">{{product}}</a></h3>
                                <div class="price">

                                    {% if product.sale_price %}
                                    <span class="old-price">{{product.price}}</span>
                                    <span class="new-price">{{ product.sale_price }}</span>
                                    {% else %}
                                    <span class="new-price">{{ product.price }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area text-center">
                            {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="prev page-numbers">
                                <i class='bx bx-chevrons-right'></i></a>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                            <span class="page-numbers current" aria-current="page">{{ i }}</span>
                            {% else %}
                            <a href="?page={{ i }}" class="page-numbers">{{ i }}</a>
                            {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="next page-numbers"><i
                                    class='bx bx-chevrons-left'></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}